
<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
<!-- local referrence postInput -->
<!-- <textarea rows="6" [value] ="newPost"></textarea> -->
<!-- under line object squre bracket - underline value property binding -->
<mat-card>
  <form>

  </form>
 <mat-form-field>
   <input matInput type="text" [(ngModel)] ="enteredTitle">
 </mat-form-field>
    <mat-form-field>

        <textarea matInput rows="6" [(ngModel)]="enteredContent" #postInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent"  (click) ="onAddPost(postInput)">Save Post</button>

</mat-card>


<hr>

<!-- string interpulation -->
